
@font-face {
    font-family: "Angeline Vintage";
    src: url("../fonts/Angeline Vintage.ttf") format("truetype");
}

$main-font: "Angeline Vintage", sans-serif;
//$secondary-font: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
//$secondary-font: "Advent Pro", sans-serif;
$secondary-font: "Armata", sans-serif;

$paragraph-color: #000;

$link-color: #000;
$link-hover-color: #000;

$banner-background-color: #FF6913;
$banner-border-color: #9C400B;

$div-background-color: #575757;
$div-border-color: #3c3c3c;

$button-color: #ff0;
$button-hover-color: #ffa;

$button-text-color: #000;
$button-text-hover-color: #000;
