
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue.otf") format("opentype");
}

$main-font: "Bebas Neue", sans-serif;
//$secondary-font: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
//$secondary-font: "Advent Pro", sans-serif;
$secondary-font: "Armata", sans-serif;

$paragraph-color: #000;

$link-color: #aa5;
$link-hover-color: #550;

$banner-background-color: #FF6913;
$banner-border-color: #9C400B;

$div-background-color: #575757;
$div-border-color: #3c3c3c;

$button-color: #ff0;
$button-hover-color: #ffa;

$button-text-color: #000;
$button-text-hover-color: #000;

$electricity-color: #FFFF00;
$no-electricity-color: #888888;

$highlight-color: #FFFFFF;
