@import "variables";
@import "mixins";

body {
    width: 100%;
    height: 100%;
    font-family: $secondary-font;
    color: $light;
    background-color: $dark;

}

html {
    width: 100%;
    height: 100%;
}

// ====================================================== T E X T ====================================================== //

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 25px;
        line-height: 1.6;
    }
}

a {
    color: $color;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $des-color-light;
    }
}

.light {
    font-weight: 400;
		font-family: $secondary-font;
		font-size: 90%;
		text-align: center center;
}

.boost-size {
		font-size: 110%;
    font-weight: 150%;
}

.to-be-announced {
	opacity: 0.5;
}

// ====================================================== B U T T O N S ====================================================== //

.btn {
    text-transform: uppercase;
    font-family: $secondary-font;
		font-size: 30px;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-secondary {
	border: 0px;
	outline: none;
	color: $dark;
	background-color: $color;
	opacity: 0.8;
    &:hover,
    &:focus {
        opacity: 1;
				background-color: $color;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// ====================================================== N A V B A R ====================================================== //

.navbar-custom {
		//display: none;
		margin-bottom: 0;
		margin-top: -10px;
		padding: 0 10px;
    border: none;
    text-transform: uppercase;
    font-family: $main-font;
    background-color: $dark;

		//@include skew(0,1);

    .navbar-toggler {
        font-size: 30px;
				background: $dark;
				border: 1px solid $light;
        color: $light;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: $color;
				&:hover {
						color: $des-color-light;
				}
    }
    .nav {
			font-family: $secondary-font;
        a {
          	-webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;

            &:hover {
                color: $des-color-light;
                outline: none;
                background-color: transparent;
            }
            &:focus,
            &:active {
                outline: none;
                background-color: transparent;
            }
        }
        &.active {
            outline: none;
            a {
                background-color: $des-color-dark;
            }
        }
    }

    @media(min-width:768px) {
				display: block;
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 10px 0;
            background: $dark;
            border-bottom: 1px solid transparentize($light,0.7);
        }
				.navbar-collapse {
					padding: 0px 50px;
				}
    }
}

// ====================================================== I N T R O ====================================================== //

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: $light;
    //background: url(../img/landing-bg.jpg) no-repeat bottom center scroll;
		background-color: $dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
				//background: linear-gradient(0deg, $dark, transparent, $dark);
        .brand-heading {
            font-size: 50px;
        }
        .intro-text {
            font-size: 20px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 120px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}

// ====================================================== B A N N E R S ====================================================== //

$tilt: 0.8;
$banner-margin: 100px auto;
$banner-width: 90%;

// ====================================================== A B O U T ====================================================== //

.about-banner {
	padding: 50px 0;
	margin: $banner-margin;
	color: $light;

  width: $banner-width;

	@include banner(url(../img/landing-bg.jpg) no-repeat center center scroll,-$tilt);
}

// ====================================================== F U T S A L ====================================================== //

.futsal-banner {
    padding: 50px 0;
		margin: $banner-margin;
    color: $light;

    width: $banner-width;

		@include banner(url(../img/futsal-bg.jpg) no-repeat center center scroll,$tilt);
}

// ====================================================== H A U N T E D ====================================================== //

.haunted-banner {
		padding: 50px 0;
		margin: $banner-margin;
    color: $light;

    width: $banner-width;

		@include banner(url(../img/haunted-bg.jpg) no-repeat center center scroll,-$tilt);
}

// ====================================================== B O O T H S ====================================================== //

.booth-banner {
		padding: 50px 0;
		margin: $banner-margin;
    color: $light;

    width: $banner-width;

		@include banner(url(../img/booth-bg.jpg) no-repeat center center scroll,$tilt);
}

@media(min-width:768px) {

	.left-right-bars {
		border: none;
		border-left: solid $light 5px;
		border-right: solid $light 5px;
	}

}

.booth-pricing-row {
	margin: 0px;
	margin-top: 50px;
	margin-bottom: 10px;
}

.booth-deposit-row {
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
}

// ====================================================== L O C A T I O N ====================================================== //

.location-banner {
		padding: 50px 0;
		margin: $banner-margin;
    color: $light;

    width: $banner-width;

		@include banner(url(../img/location-bg.jpg) no-repeat center center scroll,-$tilt);
}

@media(min-width:767px) {
    #map {
        height: 400px;
        margin-top: 250px;
    }
}

// ====================================================== F O O T E R ====================================================== //

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

// ====================================================== S E L E C T I O N ====================================================== //

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}

// ====================================================== P A L E T T E ====================================================== //

.color {
	color: $color;
}
.color-alt {
	color: $color-alt;
}

.des-color {
	color: $des-color;
}
.des-color-alt {
	color: $des-color-alt;
}

.des-color-dark {
	color: $des-color-dark;
}
.des-color-light {
	color: $des-color-light;
}

.des-color-alt-dark {
	color: $des-color-alt-dark;
}
.des-color-alt-light {
	color: $des-color-alt-light;
}

.des-color-alt-darker {
	color: $des-color-alt-darker;
}

.darker {
	color: $dark;
}
.lighter {
	color: $light;
}

// ====================================================== M A P ====================================================== //

.map-banner {
		display: block;
		padding: 0px;
		margin: 0px;
		width: 100%;
		height: 100%;
		background: $dark;
}

#map {
	padding: 10px 100px;
	margin: 0px;
	margin-bottom: 100px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.hidden {
	display: none;
}

.hide-before-load {
	display: none;
}

svg {
	width: 100%;
	height: 100%;
	display: block;
	@include transition(opacity .5s ease);
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

$spinner-length: 10;
$spinner-inbetween-interval: 0.1s;
$spinner-cycle: 1.2s;

.spinner-container {
	height: 100%;
	width: 100%;
	//margin-left: -($spinner-length/2)*6px;
}

.spinner-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.spinner > div {
  background-color: $light;
  height: 100%;
  width: 6px;
  display: inline-block;
	vertical-align: middle;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

@for $i from 2 through $spinner-length {

	.spinner .rect-#{$i} {
		-webkit-animation-delay: -$spinner-cycle + ($spinner-inbetween-interval*($i - 1));
		animation-delay: -$spinner-cycle + ($spinner-inbetween-interval*($i - 1));
	}

}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.booth-image {
	border: 2px $light solid;
  max-width: 100%;
}


.booth-info {
	width: auto;
	height: auto;
	padding: 30px;
	position: absolute;
	top: -9999px;
	left: -9999px;
	border: solid 2px $des-color-alt-dark;
	border-radius: 5px;
	background-color: $dark;
	color: $light;
}
.booth-info-close {
	width: 22px;
	height: 24px;
	padding: 5px;
	font-size: 1em;
	line-height: 0.9333333333em;
	background-color: transparent;
	position: absolute;
	top: 4px;
	right: 4px;
	text-decoration: none;
	display: block;
	border: none;
}

.booth-tag {
	margin-bottom: 0px;
}

.booth-name {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
}

.booth-desc {
  font-size: 20px;
  line-height: -5;
}

// ====================================================== R E S P O N D ====================================================== //

.mobile-only {display: none;}
.mobile-hide {display: inline;}

@media(max-width:768px) {
    .mobile-only {display: inline;}
    .mobile-hide {display: none;}
}
