@import "variables";
@import "mixins";

@function is-cool-color($color) {
	@return hue($color) < 300 and hue($color) > 120;
}

@function is-high-key-value($color) {
	@return hue($color) > 30 and hue($color) < 140;
}

@function harmonious-mix($mix, $base) {
	@if (is-cool-color($mix)){
		@if is-high-key-value($base) {
			@return mix($mix, $base, 11%);
		}
		@else {
			@return mix($mix, $base, 16%);
		}
	}
	@else {
		@if is-high-key-value($base) {
			@return mix($mix, $base, 13%);
		}
		@else {
			@return mix($mix, $base, 23%);
		}
	}
}

@function mix-neutral($color) {
	@if (is-highest-key-value($color)) {
		@if is-high-key-value(complement($color)) {
			@return mix(complement($color), $color, 19%);
		}
		@else {
			@return mix(complement($color), $color, 13%);
		}
	}
	@else if (is-high-key-value($color)) {
		@if is-high-key-value(complement($color)) {
			@return mix(complement($color), $color, 31%);
		}
		@else {
			@return mix(complement($color), $color, 23%);
		}
	}
	@else {
		@if is-highest-key-value(complement($color)) {
			@return mix(complement($color), $color, 31%);
		}
		@if is-high-key-value(complement($color)) {
			@return mix(complement($color), $color, 26%);
		}
		@else {
			@return mix(complement($color), $color, 23%);
		}
	}
}

@function pick-contrast($color) {
	@if is-high-key-value($color){
		@if lightness($color) < 30% {
			@return lighten(complement($color), 86);
		}
		@else if lightness($color) > 70% {
			@return darken(complement($color), 68);
		}
		@else {
			@return darken(complement($color), 53);
		}
  } @else {
	@if lightness($color) < 30% {
			@return lighten(complement($color), 86);
		}
		@else if lightness($color) > 70% {
			@return darken(complement($color), 68);
		}
		@else {
			@return lighten(complement($color), 53);
		}
	}
}

@font-face {
    font-family: "Bebas Neue";
    src: url("fonts/BebasNeue.otf") format("opentype");
}

$main-font: "Bebas Neue", sans-serif;
//$secondary-font: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: "Advent Pro", sans-serif;

$base-color: hsl(45, 100%, 50%);
$base-color-alt: hsl(200, 100%, 50%);

/*
$color: $base-color;
$color-alt: $base-color-alt;
*/

$color: harmonious-mix($base-color-alt, $base-color); // used for links
$color-alt: harmonious-mix($base-color, $base-color-alt);

$des-color: mix-neutral($color); // ??? can be used for nav-bar
$des-color-alt: mix-neutral($color-alt); // ??? can be used as background

$des-color-dark: darken($des-color,25%); // ??? currently used for nav-bar
$des-color-light: lighten($des-color,35%); // used for link hover and focus

$des-color-alt-dark: darken($des-color-alt,25%); // used for text-div backgrounds
$des-color-alt-light: lighten($des-color-alt,33%); // ???

$dark: darken($des-color-alt,44%); // ???
$light: lighten($des-color,45%); // used for plain text

body {
    width: 100%;
    height: 100%;
    font-family: $secondary-font;
    color: $light;
    background-color: $dark;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 25px;
        line-height: 1.6;
    }
}

a {
    color: $color;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $des-color-light;
    }
}

.light {
    font-weight: 400;
		font-family: $secondary-font;
		font-size: 90%;
		text-align: center center;
}
.boost-size {
		font-size: 200%;
}

.navbar-custom {
    margin-bottom: 0;
    border: none;
    text-transform: uppercase;
    font-family: $main-font;
    background-color: transparent;

    .navbar-toggler {
				padding: 6px 8px;
        font-size: 30px;
				background: $dark;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: $color;
				&:hover {
						color: $des-color-light;
				}
    }
    .nav {
			font-family: $secondary-font;
        a {
          	-webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;

            &:hover {
                color: $des-color-light;
                outline: none;
                background-color: transparent;
            }
            &:focus,
            &:active {
                outline: none;
                background-color: transparent;
            }
        }
        &.active {
            outline: none;
            a {
                background-color: $des-color-dark;
            }
        }
    }

    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: $dark;
            border-bottom: 1px solid transparentize($light,0.7);
        }
				.navbar-collapse {
					padding: 0px 50px;
				}
    }
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: $light;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 50px;
        }
        .intro-text {
            font-size: 20px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 120px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}

/*@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}*/

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: $light;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: $dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: $secondary-font;
		font-size: 30px;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-secondary {
    border: 1px solid $color;
    color: $color;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $color;
        outline: none;
        color: $dark;
        background-color: $color;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}

.color {
	color: $color;
}
.color-alt {
	color: $color-alt;
}

.des-color {
	color: $des-color;
}
.des-color-alt {
	color: $des-color-alt;
}

.des-color-dark {
	color: $des-color-dark;
}
.des-color-light {
	color: $des-color-light;
}

.des-color-alt-dark {
	color: $des-color-alt-dark;
}
.des-color-alt-light {
	color: $des-color-alt-light;
}

.darker {
	color: $dark;
}
.lighter {
	color: $light;
}

#map {
	margin: 10px;
	overflow: hidden;
}

svg {
	width: 100%;
	height: 100%;
	display: block;
}
