@import "variables";
@import "mixins";

body {

    width: 100%;
    height: 100%;
    font-family: $secondary-font;
    color: $paragraph-color;
    background: url(../img/body-bg.png) repeat;
    background-repeat: repeat;

}

html {
    width: 100%;
    height: 100%;
}

// ====================================================== T E X T ====================================================== //

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 40px;
}

p {
    margin: 0 0 25px;
    font-size: 17px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 22px;
        line-height: 1.6;
    }
}

a {
    color: $link-color;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $link-hover-color;
    }
}

.light {
    font-weight: 400;
		font-family: $secondary-font;
		font-size: 70%;
		text-align: center center;
}

.boost-size {
		font-size: 110%;
    font-weight: 150%;
}

.to-be-announced {
	opacity: 0.5;
}

// ====================================================== B U T T O N S ====================================================== //

.btn {
    text-transform: uppercase;
    font-family: $secondary-font;
		font-size: 30px;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 2px;
}

.btn-secondary {
	border: 0px;
	outline: none;
	color: $button-text-color;
	background-color: $button-color;
	opacity: 0.8;
    &:hover,
    &:focus {
        opacity: 1;
        color: $button-text-hover-color;
				background-color: $button-hover-color;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// ====================================================== N A V B A R ====================================================== //

.navbar-custom {
		//display: none;
		margin-bottom: 0;
		margin-top: -10px;
		padding: 0 10px;
    border: none;
    text-transform: uppercase;
    font-family: $main-font;
    background-color: $div-background-color;

    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: $link-color;
				&:hover {
						color: $link-hover-color;
				}
    }
    .nav {
			font-family: $secondary-font;
        a {
          	-webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;

            &:hover {
                color: $link-hover-color;
                outline: none;
                background-color: transparent;
            }
            &:focus,
            &:active {
                outline: none;
                background-color: transparent;
            }
        }
        &.active {
            outline: none;
            a {
                background-color: $link-color;
            }
        }
    }

    @media(min-width:768px) {
				display: block;
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 10px 0;
            background: $div-background-color;
            border-bottom: 1px solid transparentize($div-border-color,0.7);
        }
				.navbar-collapse {
					padding: 0px 50px;
				}
    }
}

// ====================================================== B A N N E R S ====================================================== //

.content-row {
  width: 90%;
  margin: 100px auto;
}

.text-center {
  //border: 1px solid black;
}

.description {
  margin: 0px auto;
  margin-bottom: 50px;
}

.map-caption {
  padding: 0px 0px 0px 100px;
  margin: 0px;
  width: 57%;
  height: 25%;
  //border: 2px solid black;
  position: absolute;
  text-align: left;

  p {
    margin: 0px;
    font-size: 1.7vw;
  }

  h2 {
    font-size: 50px;
    font-size: 4vw;
    margin: 5px;
  }
}

.entrance-caption {
  border: 1px solid black;
  position: absolute;
  text-align: left;

  p {
    margin: 0px;
  }

}

.heading {
  font-size: 100px;
  margin-bottom: 0px;
}

.heading-sub {
  margin: 0px;
}

// ====================================================== F O O T E R ====================================================== //

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

// ====================================================== S E L E C T I O N ====================================================== //

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}

// ====================================================== M A P ====================================================== //

.map-banner {
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

#map {
	padding: 10px 100px;
	margin: 0px;
	height: 100%;
	width: 100%;
	overflow: visible;
}

.hidden {
	display: none;
}

.hide-before-load {
	display: none;
}

svg {
	width: 100%;
	height: 100%;
	display: block;
	@include transition(opacity .5s ease);
}

.spinner {
  margin: 0px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

$spinner-length: 10;
$spinner-inbetween-interval: 0.1s;
$spinner-cycle: 1.2s;

.spinner-container {
	//margin-left: -($spinner-length/2)*6px;
}

.spinner-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.spinner > div {
  background-color: $paragraph-color;
  height: 100%;
  width: 6px;
  display: inline-block;
	vertical-align: middle;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

@for $i from 2 through $spinner-length {

	.spinner .rect-#{$i} {
		-webkit-animation-delay: -$spinner-cycle + ($spinner-inbetween-interval*($i - 1));
		animation-delay: -$spinner-cycle + ($spinner-inbetween-interval*($i - 1));
	}

}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.booth-info {
	width: 500px;
	height: auto;
	padding: 30px;
	position: absolute;
	top: -9999px;
	left: -9999px;
	border: solid 2px $div-border-color;
	border-radius: 5px;
	background-color: $div-background-color;
	color: $paragraph-color;

  p {
    margin: 0px;
  }

  span {
    margin: 0px;
  }

}

.booth-price-container {
  margin: 0px;
  padding: 0px;
}

.booth-info-close {
	width: 22px;
	height: 24px;
	padding: 5px;
	font-size: 1em;
	line-height: 0.9333333333em;
	background-color: transparent;
	position: absolute;
	top: 4px;
	right: 4px;
	text-decoration: none;
	display: block;
	border: none;
}

.booth-price {
  font-size: 50px;
  color: $highlight-color;
}

.booth-discount {
  color: #CCC;
  font-size: 18px;
}

.booth-number {
  font-size: 30px;
}

.booth-section {
  width: 100%;
  height: 100%;
}

.booth-number {
  color: $highlight-color;
}

.booth-site {
  margin-top: 10px;
}

.booth-electricity {
  color: $electricity-color;
}

.booth-no-electricity {
  color: $no-electricity-color;
}

// ====================================================== R E S P O N D ====================================================== //

@media(max-width:768px) {
    .mobile-hide {display: none;}
}

@media(min-width:769px) {
    .mobile-only {display: none;}
}
