/*
$color: harmonious-mix($base-color-alt, $base-color);
$color-alt: harmonious-mix($base-color, $base-color-alt);
*/
/* line 112, ../sass/grayscale.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
<<<<<<< HEAD
  color: #f9f6e9;
  background-color: #081214;
=======
  color: #fcf8e8;
  background-color: #031515;
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
}

/* line 120, ../sass/grayscale.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 125, ../sass/grayscale.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

/* line 138, ../sass/grayscale.scss */
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  /* line 138, ../sass/grayscale.scss */
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

/* line 149, ../sass/grayscale.scss */
a {
  color: #fcf8e8;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 154, ../sass/grayscale.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #f5ebbc;
}

/* line 161, ../sass/grayscale.scss */
.light {
  font-weight: 400;
}

/* line 165, ../sass/grayscale.scss */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #031515;
}
/* line 171, ../sass/grayscale.scss */
.navbar-custom .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: white;
}
/* line 175, ../sass/grayscale.scss */
.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
  outline: none;
}
/* line 180, ../sass/grayscale.scss */
.navbar-custom .navbar-brand {
  font-weight: 700;
}
/* line 182, ../sass/grayscale.scss */
.navbar-custom .navbar-brand:focus {
  outline: none;
}
/* line 186, ../sass/grayscale.scss */
.navbar-custom a {
  color: white;
}
/* line 191, ../sass/grayscale.scss */
.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
/* line 195, ../sass/grayscale.scss */
.navbar-custom .nav li a:hover {
  color: #f5ebbc;
  outline: none;
  background-color: transparent;
}
/* line 200, ../sass/grayscale.scss */
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
/* line 206, ../sass/grayscale.scss */
.navbar-custom .nav li.active {
  outline: none;
}
/* line 208, ../sass/grayscale.scss */
.navbar-custom .nav li.active a {
  background-color: #6e5f10;
}
/* line 210, ../sass/grayscale.scss */
.navbar-custom .nav li.active a:hover {
  color: #fcf8e8;
}
@media (min-width: 768px) {
  /* line 165, ../sass/grayscale.scss */
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  /* line 225, ../sass/grayscale.scss */
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid #6e5f10;
  }
}

/* line 233, ../sass/grayscale.scss */
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
<<<<<<< HEAD
  color: #f9f6e9;
  background: #4ba1b2;
  background-color: #081214;
=======
  color: #fcf8e8;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: #031515;
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
<<<<<<< HEAD
/* line 248, ../sass/grayscale.scss */
=======
/* line 246, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
<<<<<<< HEAD
/* line 251, ../sass/grayscale.scss */
.intro .intro-body .brand-heading {
  font-size: 40px;
}
/* line 254, ../sass/grayscale.scss */
=======
/* line 249, ../sass/grayscale.scss */
.intro .intro-body .brand-heading {
  font-size: 40px;
}
/* line 252, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  /* line 233, ../sass/grayscale.scss */
  .intro {
    height: 100%;
    padding: 0;
  }
<<<<<<< HEAD
  /* line 262, ../sass/grayscale.scss */
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  /* line 265, ../sass/grayscale.scss */
=======
  /* line 260, ../sass/grayscale.scss */
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  /* line 263, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}

<<<<<<< HEAD
/* line 272, ../sass/grayscale.scss */
=======
/* line 270, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
<<<<<<< HEAD
/* line 285, ../sass/grayscale.scss */
=======
/* line 283, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.btn-circle:hover, .btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
<<<<<<< HEAD
/* line 291, ../sass/grayscale.scss */
=======
/* line 289, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
<<<<<<< HEAD
/* line 298, ../sass/grayscale.scss */
=======
/* line 296, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
<<<<<<< HEAD
/* line 345, ../sass/grayscale.scss */
=======
/* line 343, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.content-section {
  padding-top: 100px;
}

<<<<<<< HEAD
/* line 349, ../sass/grayscale.scss */
=======
/* line 347, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.download-section {
  width: 100%;
  padding: 50px 0;
  color: #fcf8e8;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: #031515;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

<<<<<<< HEAD
/* line 361, ../sass/grayscale.scss */
=======
/* line 359, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

@media (min-width: 767px) {
<<<<<<< HEAD
  /* line 368, ../sass/grayscale.scss */
=======
  /* line 366, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
  .content-section {
    padding-top: 250px;
  }

<<<<<<< HEAD
  /* line 372, ../sass/grayscale.scss */
=======
  /* line 370, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
  .download-section {
    padding: 100px 0;
  }

<<<<<<< HEAD
  /* line 376, ../sass/grayscale.scss */
=======
  /* line 374, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
<<<<<<< HEAD
/* line 382, ../sass/grayscale.scss */
=======
/* line 380, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0;
}

<<<<<<< HEAD
/* line 392, ../sass/grayscale.scss */
.btn-secondary {
  border: 1px solid #e2bc1c;
  color: #e2bc1c;
  background-color: transparent;
}
/* line 396, ../sass/grayscale.scss */
.btn-secondary:hover, .btn-secondary:focus {
  border: 1px solid #e2bc1c;
=======
/* line 390, ../sass/grayscale.scss */
.btn-default {
  border: 1px solid #ffd500;
  color: #ffd500;
  background-color: transparent;
}
/* line 394, ../sass/grayscale.scss */
.btn-default:hover, .btn-default:focus {
  border: 1px solid #ffd500;
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
  outline: none;
  color: #031515;
  background-color: #ffd500;
}

<<<<<<< HEAD
/* line 405, ../sass/grayscale.scss */
=======
/* line 403, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
<<<<<<< HEAD
  /* line 405, ../sass/grayscale.scss */
=======
  /* line 403, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
<<<<<<< HEAD
  /* line 411, ../sass/grayscale.scss */
=======
  /* line 409, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
<<<<<<< HEAD
  /* line 415, ../sass/grayscale.scss */
=======
  /* line 413, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

<<<<<<< HEAD
/* line 422, ../sass/grayscale.scss */
footer {
  padding: 50px 0;
}
/* line 424, ../sass/grayscale.scss */
=======
/* line 420, ../sass/grayscale.scss */
footer {
  padding: 50px 0;
}
/* line 422, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
footer p {
  margin: 0;
}

<<<<<<< HEAD
/* line 429, ../sass/grayscale.scss */
=======
/* line 427, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

<<<<<<< HEAD
/* line 435, ../sass/grayscale.scss */
=======
/* line 433, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

<<<<<<< HEAD
/* line 441, ../sass/grayscale.scss */
=======
/* line 439, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
img::selection {
  background: transparent;
}

<<<<<<< HEAD
/* line 445, ../sass/grayscale.scss */
=======
/* line 443, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
img::-moz-selection {
  background: transparent;
}

<<<<<<< HEAD
/* line 449, ../sass/grayscale.scss */
=======
/* line 447, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

<<<<<<< HEAD
/* line 453, ../sass/grayscale.scss */
=======
/* line 451, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.color {
  color: #ffd500;
}

<<<<<<< HEAD
/* line 456, ../sass/grayscale.scss */
=======
/* line 454, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.color-alt {
  color: cyan;
}

<<<<<<< HEAD
/* line 460, ../sass/grayscale.scss */
=======
/* line 458, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.des-color {
  color: #ddbe21;
}

<<<<<<< HEAD
/* line 463, ../sass/grayscale.scss */
=======
/* line 461, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.des-color-alt {
  color: #21dddd;
}

<<<<<<< HEAD
/* line 467, ../sass/grayscale.scss */
=======
/* line 465, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.des-color-dark {
  color: #6e5f10;
}

<<<<<<< HEAD
/* line 470, ../sass/grayscale.scss */
=======
/* line 468, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.des-color-light {
  color: #f5ebbc;
}

<<<<<<< HEAD
/* line 474, ../sass/grayscale.scss */
=======
/* line 472, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.des-color-alt-dark {
  color: #106e6e;
}

<<<<<<< HEAD
/* line 477, ../sass/grayscale.scss */
=======
/* line 475, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.des-color-alt-light {
  color: #bcf5f5;
}

<<<<<<< HEAD
/* line 481, ../sass/grayscale.scss */
=======
/* line 479, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.darker {
  color: #031515;
}

<<<<<<< HEAD
/* line 484, ../sass/grayscale.scss */
=======
/* line 482, ../sass/grayscale.scss */
>>>>>>> parent of 24c3209... Waze Link and some Color Changes
.lighter {
  color: #fcf8e8;
}

/* line 488, ../sass/grayscale.scss */
.intro-static {
  position: absolute;
  top: 25%;
  left: 20%;
  height: 100%;
  width: 60%;
  color: #FFF;
  background: transparent;
  text-align: center;
  color: #f9f6e9;
  		/*
  		display: table-cell;
      vertical-align: middle;
  		*/
}
/* line 506, ../sass/grayscale.scss */
.intro-static .brand-heading {
  font-size: 40px;
}
/* line 509, ../sass/grayscale.scss */
.intro-static .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  /* line 488, ../sass/grayscale.scss */
  .intro-static {
    height: 100%;
    padding: 0;
  }
  /* line 517, ../sass/grayscale.scss */
  .intro-static .brand-heading {
    font-size: 100px;
  }
  /* line 520, ../sass/grayscale.scss */
  .intro-static .intro-text {
    font-size: 26px;
  }
}

/* line 528, ../sass/grayscale.scss */
.carousel, .item, .active, .carousel-inner {
  height: 100%;
}

/* line 532, ../sass/grayscale.scss */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  filter: blur(10px);
}
