@font-face {
  font-family: "Bebas Neue";
  src: url("fonts/BebasNeue.otf") format("opentype");
}
/*
$color: $base-color;
$color-alt: $base-color-alt;
*/
/* line 119, ../sass/grayscale.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Advent Pro", sans-serif;
  color: #f9f6e9;
  background-color: #081214;
}

/* line 127, ../sass/grayscale.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 132, ../sass/grayscale.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

/* line 145, ../sass/grayscale.scss */
p {
  margin: 0 0 25px;
  font-size: 20px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  /* line 145, ../sass/grayscale.scss */
  p {
    margin: 0 0 35px;
    font-size: 25px;
    line-height: 1.6;
  }
}

/* line 156, ../sass/grayscale.scss */
a {
  color: #e2bc1c;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 161, ../sass/grayscale.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #e4d699;
}

/* line 168, ../sass/grayscale.scss */
.light {
  font-weight: 400;
  font-family: "Advent Pro", sans-serif;
  font-size: 90%;
  text-align: center center;
}

/* line 174, ../sass/grayscale.scss */
.boost-size {
  font-size: 200%;
}

/* line 178, ../sass/grayscale.scss */
.navbar-custom {
  display: none;
  margin-bottom: 0;
  border: none;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  background-color: transparent;
}
/* line 186, ../sass/grayscale.scss */
.navbar-custom .navbar-toggler {
  font-size: 30px;
  background: #081214;
  border: 1px solid #f9f6e9;
  color: #f9f6e9;
}
/* line 191, ../sass/grayscale.scss */
.navbar-custom .navbar-toggler:focus, .navbar-custom .navbar-toggler:active {
  outline: none;
}
/* line 196, ../sass/grayscale.scss */
.navbar-custom .navbar-brand {
  font-weight: 700;
}
/* line 198, ../sass/grayscale.scss */
.navbar-custom .navbar-brand:focus {
  outline: none;
}
/* line 202, ../sass/grayscale.scss */
.navbar-custom a {
  color: #e2bc1c;
}
/* line 204, ../sass/grayscale.scss */
.navbar-custom a:hover {
  color: #e4d699;
}
/* line 208, ../sass/grayscale.scss */
.navbar-custom .nav {
  font-family: "Advent Pro", sans-serif;
}
/* line 210, ../sass/grayscale.scss */
.navbar-custom .nav a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
/* line 215, ../sass/grayscale.scss */
.navbar-custom .nav a:hover {
  color: #e4d699;
  outline: none;
  background-color: transparent;
}
/* line 220, ../sass/grayscale.scss */
.navbar-custom .nav a:focus, .navbar-custom .nav a:active {
  outline: none;
  background-color: transparent;
}
/* line 226, ../sass/grayscale.scss */
.navbar-custom .nav.active {
  outline: none;
}
/* line 228, ../sass/grayscale.scss */
.navbar-custom .nav.active a {
  background-color: #63551a;
}
@media (min-width: 768px) {
  /* line 178, ../sass/grayscale.scss */
  .navbar-custom {
    display: block;
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  /* line 243, ../sass/grayscale.scss */
  .navbar-custom.top-nav-collapse {
    padding: 10px 0;
    background: #081214;
    border-bottom: 1px solid rgba(249, 246, 233, 0.3);
  }
  /* line 248, ../sass/grayscale.scss */
  .navbar-custom .navbar-collapse {
    padding: 0px 50px;
  }
}

/* line 254, ../sass/grayscale.scss */
.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #f9f6e9;
  background: linear-gradient(0deg, #081214, transparent, #081214), url(../img/Buildings.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
/* line 266, ../sass/grayscale.scss */
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
/* line 270, ../sass/grayscale.scss */
.intro .intro-body .brand-heading {
  font-size: 50px;
}
/* line 273, ../sass/grayscale.scss */
.intro .intro-body .intro-text {
  font-size: 20px;
}
@media (min-width: 768px) {
  /* line 254, ../sass/grayscale.scss */
  .intro {
    height: 100%;
    padding: 0;
  }
  /* line 281, ../sass/grayscale.scss */
  .intro .intro-body .brand-heading {
    font-size: 120px;
  }
  /* line 284, ../sass/grayscale.scss */
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}

/* line 291, ../sass/grayscale.scss */
.content-section {
  padding-bottom: 100px;
  padding-top: 0px;
}

/* line 296, ../sass/grayscale.scss */
.booth-section {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

/* line 302, ../sass/grayscale.scss */
.download-section {
  width: 100%;
  padding: 50px 0;
  color: #f9f6e9;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: #081214;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 767px) {
  /* line 315, ../sass/grayscale.scss */
  .content-section {
    padding-top: 250px;
  }

  /* line 319, ../sass/grayscale.scss */
  .download-section {
    padding: 100px 0;
  }

  /* line 323, ../sass/grayscale.scss */
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
/* line 329, ../sass/grayscale.scss */
.btn {
  text-transform: uppercase;
  font-family: "Advent Pro", sans-serif;
  font-size: 30px;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0;
}

/* line 340, ../sass/grayscale.scss */
.btn-secondary {
  border: 1px solid #e2bc1c;
  color: #e2bc1c;
  background-color: transparent;
}
/* line 344, ../sass/grayscale.scss */
.btn-secondary:hover, .btn-secondary:focus {
  border: 1px solid #e2bc1c;
  outline: none;
  color: #081214;
  background-color: #e2bc1c;
}

/* line 353, ../sass/grayscale.scss */
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  /* line 353, ../sass/grayscale.scss */
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  /* line 359, ../sass/grayscale.scss */
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  /* line 363, ../sass/grayscale.scss */
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

/* line 370, ../sass/grayscale.scss */
footer {
  padding: 50px 0;
}
/* line 372, ../sass/grayscale.scss */
footer p {
  margin: 0;
}

/* line 377, ../sass/grayscale.scss */
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

/* line 383, ../sass/grayscale.scss */
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

/* line 389, ../sass/grayscale.scss */
img::selection {
  background: transparent;
}

/* line 393, ../sass/grayscale.scss */
img::-moz-selection {
  background: transparent;
}

/* line 397, ../sass/grayscale.scss */
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

/* line 401, ../sass/grayscale.scss */
.color {
  color: #e2bc1c;
}

/* line 404, ../sass/grayscale.scss */
.color-alt {
  color: #3aaec4;
}

/* line 408, ../sass/grayscale.scss */
.des-color {
  color: #c8ac35;
}

/* line 411, ../sass/grayscale.scss */
.des-color-alt {
  color: #4ba1b2;
}

/* line 415, ../sass/grayscale.scss */
.des-color-dark {
  color: #63551a;
}

/* line 418, ../sass/grayscale.scss */
.des-color-light {
  color: #e4d699;
}

/* line 422, ../sass/grayscale.scss */
.des-color-alt-dark {
  color: #255058;
}

/* line 425, ../sass/grayscale.scss */
.des-color-alt-light {
  color: #a4d0d9;
}

/* line 429, ../sass/grayscale.scss */
.des-color-alt-darker {
  color: #162f34;
}

/* line 433, ../sass/grayscale.scss */
.darker {
  color: #081214;
}

/* line 436, ../sass/grayscale.scss */
.lighter {
  color: #f9f6e9;
}

/* line 440, ../sass/grayscale.scss */
#map {
  padding: 10px 100px;
  margin: 0px;
  height: 90%;
  width: 100%;
  overflow: hidden;
}

/* line 448, ../sass/grayscale.scss */
.hide {
  display: none;
}

/* line 452, ../sass/grayscale.scss */
svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 458, ../sass/grayscale.scss */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
